openapi: 3.0.3
info:
  title: Fipto - OpenAPI 3.0
  version: 4.3.0
  description: This is a REST API specifications based on OpenAPI 3.0 for Fipto solution.
  contact:
    url: https://www.fipto.com/
servers:
- url: https://api.fipto.app
  description: The API server on production
tags:
- name: Assets
  description: Retrieve information about assets supported by Fipto.
- name: Transactions
  description: Initiate payout and retrieve information about ongoing and completed transactions.
- name: Wallets
  description: Manage wallets and their related wallet details.
- name: Beneficiaries
  description: Manage your beneficiaries to whitelist addresses for payout.
- name: Companies
  description: Manage information and settings of a company.
- name: AISP/PISP
  description: Endpoints for AISP/PISP.
- name: Payment links
  description: Manage payment links.
- name: Conversions
  description: Manage conversions.
- name: KYC Reliance
  description: Manage KYC reliance onboardings for client onboarding via API.
paths:
  /companies/{company_id}/assets:
    get:
      summary: Get supported assets
      description: Retrieve the list of supported assets of a company.
      operationId: listAssets
      tags:
      - Assets
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/page_number'
      - $ref: '#/components/parameters/page_size'
      - name: sort
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/sort_asset_list'
      responses:
        '200':
          description: List of all assets.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - $ref: '#/components/schemas/pagination'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/asset_data'
  /companies/{company_id}/request-usd:
    post:
      summary: Request USD onboarding
      description: Request USD onboarding for a company.
      operationId: requestUsdOnboarding
      tags:
      - Assets
      parameters:
      - $ref: '#/components/parameters/company_id'
      responses:
        '204':
          description: Request USD onboarding initiated.
  /companies/{company_id}/quotes:
    post:
      summary: Create a new automated quote
      operationId: createAQuote
      tags:
      - Conversions
      parameters:
      - $ref: '#/components/parameters/company_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  oneOf:
                  - $ref: '#/components/schemas/quote_buy_sided'
                  - $ref: '#/components/schemas/quote_sell_sided'
      responses:
        '201':
          description: Quote successfully created
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/quote_buy_sided'
                      - $ref: '#/components/schemas/quote_sell_sided'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - message
                    properties:
                      message:
                        type: string
                        oneOf:
                        - pattern: '^Manual flow required: company trading limits hit\.$'
                        - pattern: '^Manual flow required: amount is below the minimum eur trading volume: \d{1,}\.$'
                        - pattern: '^Manual flow required: amount is above the maximum eur trading volume: \d{1,}\.$'
                        - pattern: '^Manual flow required: pair is forbidden'
                        - pattern: ^Manual flow required\.$
                        - pattern: ^Asset codes of buy and sell wallets must be different\.$
                        - pattern: ^Wallets not found\.$
                        - pattern: ^Buy wallet not found\.$
                        - pattern: ^Sell wallet not found\.$
                        - pattern: ^Sell amount must have \d{1,} decimals\.$
  /companies/{company_id}/quotes/{quote_id}/status:
    patch:
      summary: Confirm a quote.
      operationId: confirmQuoteStatus
      tags:
      - Conversions
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/quote_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/quote_status_confirmed_data'
      responses:
        '200':
          description: Quote successfully updated
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/quote_status_confirmed_data'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - message
                    properties:
                      message:
                        type: string
                        oneOf:
                        - pattern: '^Manual flow required: company trading limits hit\.$'
                        - pattern: ^Asset codes of buy and sell wallets must be different\.$
                        - pattern: ^Quote is expired\.$
                        - pattern: ^Quote not found\.$
                        - pattern: ^Quote is not in submitted status\.$
                        - pattern: ^Insufficient funds\.$
                        - pattern: ^Quote already validated\.$
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - message
                    properties:
                      message:
                        type: string
                        oneOf:
                        - pattern: ^Quote not found\.$
  /companies:
    get:
      summary: Get companies
      description: Retrieve companies linked to the logged user.
      operationId: listCompaniesByUser
      tags:
      - Companies
      parameters:
      - $ref: '#/components/parameters/page_number'
      - $ref: '#/components/parameters/page_size'
      - name: sort
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/sort_company_list'
      responses:
        '200':
          description: List of all companies.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - $ref: '#/components/schemas/pagination'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/company_data'
  /companies/{company_id}:
    get:
      summary: Get a company
      description: Retrieve a specific company linked to the logged user.
      operationId: getCompany
      tags:
      - Companies
      parameters:
      - $ref: '#/components/parameters/company_id'
      responses:
        '200':
          description: Company details.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/company_data'
  /companies/{company_id}/beneficiaries/file-conversion:
    post:
      summary: Validate a batch of beneficiaries
      description: Validate a CSV representation of a batch of beneficiaries.
      operationId: validateBatchBeneficiary
      tags:
      - Beneficiaries
      parameters:
      - $ref: '#/components/parameters/company_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - attributes
                  - type
                  properties:
                    type:
                      type: string
                      enum:
                      - batch_beneficiaries
                    attributes:
                      type: object
                      required:
                      - beneficiaries
                      properties:
                        beneficiaries:
                          type: string
                          description: The file encoded in base 64.
                          example: TODO
      responses:
        '200':
          description: CSV successfully parsed
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - $ref: '#/components/schemas/beneficiary_batch_item'
  /companies/{company_id}/beneficiaries/batch:
    post:
      summary: Create a batch of beneficiaries
      description: Create a batch of beneficiaries for your company. A beneficiary is necessary to initiate a payout.
      operationId: createBatchBeneficiaries
      tags:
      - Beneficiaries
      parameters:
      - $ref: '#/components/parameters/company_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/beneficiary_batch_item'
      responses:
        '201':
          description: Beneficiaries batch successfully created.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - $ref: '#/components/schemas/beneficiary_batch_item'
  /companies/{company_id}/beneficiaries:
    post:
      summary: Create a beneficiary
      description: Create a beneficiary for your company. A beneficiary is necessary to initiate a payout.
      operationId: createBeneficiary
      tags:
      - Beneficiaries
      parameters:
      - $ref: '#/components/parameters/company_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  oneOf:
                  - allOf:
                    - $ref: '#/components/schemas/beneficiary_raw_data'
                    - not:
                        properties:
                          attributes:
                            required:
                            - corridor
                  - $ref: '#/components/schemas/beneficiary_typed_data'
            examples:
              Digital - Natural person - Not belonging to company - dev front:
                value:
                  data:
                    type: beneficiary
                    attributes:
                      description: My beneficiary
                      wallet_details:
                        asset: BTC
                        address: bc1***
                        travel_rule_status: incomplete
                      beneficiary_info:
                        type: individual
                        firstname: Sam
                        lastname: Doe
                        address:
                          street_address: 25 rue François 1er
                          zip_code: '75008'
                          city: Paris
                          country_code: FR
              Digital - Legal person - Not belonging to company - dev front:
                value:
                  data:
                    type: beneficiary
                    attributes:
                      description: My beneficiary
                      wallet_details:
                        asset: BTC
                        address: bc1***
                        travel_rule_status: incomplete
                      beneficiary_info:
                        type: company
                        name: Acme
                        address:
                          street_address: 25 rue François 1er
                          zip_code: '75008'
                          city: Paris
                          country_code: FR
              Digital - Belonging to company - dev front:
                value:
                  data:
                    type: beneficiary
                    attributes:
                      description: My beneficiary
                      wallet_details:
                        asset: BTC
                        address: bc1***
                        travel_rule_status: incomplete
                      beneficiary_info:
                        type: self
              Digital - Natural person - Not belonging to company:
                value:
                  data:
                    type: beneficiary
                    attributes:
                      description: My beneficiary
                      wallet_details:
                        asset: BTC
                        address: bc1***
                        travel_rule_status: incomplete
                      beneficiary_info:
                        type: individual
                        firstname: Sam
                        lastname: Doe
                        address:
                          street_address: 25 rue François 1er
                          zip_code: '75008'
                          city: Paris
                          country_code: FR
              Digital - Legal person - Not belonging to company:
                value:
                  data:
                    type: beneficiary
                    attributes:
                      description: My beneficiary
                      wallet_details:
                        asset: BTC
                        address: bc1***
                        travel_rule_status: incomplete
                      beneficiary_info:
                        type: company
                        name: Acme
                        address:
                          street_address: 25 rue François 1er
                          zip_code: '75008'
                          city: Paris
                          country_code: FR
              Digital - Belonging to company:
                value:
                  data:
                    type: beneficiary
                    attributes:
                      description: My beneficiary
                      wallet_details:
                        asset: BTC
                        address: bc1***
                        travel_rule_status: incomplete
                      beneficiary_info:
                        type: self
      responses:
        '201':
          description: Beneficiary successfully created.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/beneficiary_data'
              examples:
                Digital - Natural person - Not belonging to company:
                  value:
                    meta:
                      request_id: dba2bB95-28eD-E9E9-9ABC-7535831512bb
                    data:
                      type: beneficiary
                      id: fea2bB77-54eF-E9E9-9ABC-6535831512aa
                      attributes:
                        description: My beneficiary
                        wallet_details:
                          asset: BTC
                          address: bc1***
                          travel_rule_status: incomplete
                        beneficiary_info:
                          type: individual
                          firstname: Sam
                          lastname: Doe
                          address:
                            street_address: 25 rue François 1er
                            zip_code: '75008'
                            city: Paris
                            country_code: FR
                Digital - Legal person - Not belonging to company:
                  value:
                    meta:
                      request_id: dba2bB95-28eD-E9E9-9ABC-7535831512bb
                    data:
                      type: beneficiary
                      id: fea2bB77-54eF-E9E9-9ABC-6535831512aa
                      attributes:
                        description: My beneficiary
                        wallet_details:
                          asset: BTC
                          address: bc1***
                          travel_rule_status: incomplete
                        beneficiary_info:
                          type: company
                          name: Acme
                          address:
                            street_address: 25 rue François 1er
                            zip_code: '75008'
                            city: Paris
                            country_code: FR
                Digital - Belonging to company:
                  value:
                    meta:
                      request_id: dba2bB95-28eD-E9E9-9ABC-7535831512bb
                    data:
                      type: beneficiary
                      id: fea2bB77-54eF-E9E9-9ABC-6535831512aa
                      attributes:
                        description: My beneficiary
                        wallet_details:
                          asset: BTC
                          address: bc1***
                          travel_rule_status: incomplete
                        beneficiary_info:
                          type: self
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Invalid address:
                  value:
                    meta:
                      request_id: XXXX-XXXX-XXXX-XXXX-XXXX
                    errors:
                      code: invalid_identifier
                      source:
                        pointer: /data/attributes/wallet_details/address
                      title: Invalid Address
                      detail: This address is not valid for the selected asset network
        '403':
          description: Forbidden — user is not authorized by the company's authorization policy.
    get:
      summary: Get beneficiaries
      operationId: listBeneficiaries
      description: Retrieve all beneficiaries of a company.
      tags:
      - Beneficiaries
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/page_number'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter_beneficiary_types'
      - $ref: '#/components/parameters/filter_beneficiary_assets'
      responses:
        '200':
          description: List of all beneficiaries.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - $ref: '#/components/schemas/pagination'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/beneficiary_data'
  /companies/{company_id}/beneficiaries/{beneficiary_id}:
    get:
      summary: Get a beneficiary
      operationId: searchBeneficiaries
      description: Retrieve a specific beneficiary by its unique identifier.
      tags:
      - Beneficiaries
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/beneficiary_id'
      responses:
        '200':
          description: Retrieve a beneficiary.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/beneficiary_data'
    delete:
      summary: Delete a beneficiary
      operationId: deleteBeneficiary
      description: Delete a specific beneficiary.
      tags:
      - Beneficiaries
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/beneficiary_id'
      responses:
        '204':
          description: Beneficiary deleted
  /companies/{company_id}/beneficiaries/{beneficiary_id}/verify:
    post:
      summary: Verify a euro beneficiary
      operationId: verifyBeneficiary
      description: Verify a euro beneficiary using the VOP (Verification Of Payee) scheme.
      tags:
      - Beneficiaries
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/beneficiary_id'
      responses:
        '200':
          description: Verification done.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - type
                      - id
                      - attributes
                      properties:
                        id:
                          type: string
                          description: ID of the verification that was made. This ID can be used when initiating a payout
                            to the same beneficiary.
                        type:
                          type: string
                          enum:
                          - verification_of_payee
                        attributes:
                          type: object
                          required:
                          - code
                          properties:
                            code:
                              $ref: '#/components/schemas/vop_code'
                            close_match:
                              $ref: '#/components/schemas/vop_close_match'
  /companies/{company_id}/beneficiaries/{beneficiary_id}/wallet-details/travel-rule:
    patch:
      summary: Update the travel rule of a beneficiary
      operationId: updateBeneficiaryTravelRule
      description: Update the travel rule of a beneficiary.
      tags:
      - Travel Rule
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/beneficiary_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/beneficiary_travel_rule_patch_data'
      responses:
        '200':
          description: Beneficiary travel rule successfully updated.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/beneficiary_travel_rule_patch_data'
  /companies/{company_id}/automations:
    get:
      summary: List automation rules
      description: Retrieve the list of automation rules for your company.
      operationId: listAutomations
      tags:
      - Automations
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/page_number'
      - $ref: '#/components/parameters/page_size_optional'
      - name: status
        in: query
        description: Filter by status
        required: false
        schema:
          type: string
          enum:
          - active
      - name: rule_type
        in: query
        description: Filter by rule type
        required: false
        schema:
          type: string
          enum:
          - conversion
          - payout
      responses:
        '200':
          description: List of automation rules.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - $ref: '#/components/schemas/pagination'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/automation_rule_data'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - message
                    properties:
                      message:
                        type: string
                        oneOf:
                        - pattern: ^Automation is not enabled for this company\.$
    post:
      summary: Create automation rule
      description: Create a new automation rule for automatic conversions or payouts. Requires 2FA verification.
      operationId: createAutomation
      tags:
      - Automations
      parameters:
      - $ref: '#/components/parameters/company_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/automation_rule_create_raw_data'
      responses:
        '201':
          description: Automation rule successfully created.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/automation_rule_data'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - message
                    properties:
                      message:
                        type: string
                        oneOf:
                        - pattern: ^Automation is not enabled for this company\.$
                        - pattern: ^Invalid rule_type\. Must be 'conversion' or 'payout'\.$
                        - pattern: ^Invalid trigger_event\. Must be 'payin_completed' or 'conversion_completed'\.$
                        - pattern: ^Conversion rules can only be triggered by 'payin_completed'\.$
                        - pattern: ^Invalid amount_mode\. Must be 'full' or 'inherited'\.$
                        - pattern: ^Source wallet asset is not eligible for automation\. Only EUR, USD, and stablecoins are
                            supported\.$
                        - pattern: ^This wallet already has an active automation rule for this trigger event\. Only one rule
                            per trigger event per wallet is allowed\.$
                        - pattern: ^destination_wallet_id is required for conversion rules\.$
                        - pattern: ^Destination wallet must be different from source wallet\.$
                        - pattern: ^Destination wallet must have a different currency for conversions\.$
                        - pattern: ^destination_beneficiary_id is required for payout rules\.$
                        - pattern: ^Beneficiary currency must match source wallet currency for payouts\.$
                        - pattern: ^This beneficiary targets a Fipto wallet and cannot be used for automation\.$
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - message
                    properties:
                      message:
                        type: string
                        oneOf:
                        - pattern: ^Unknown source wallet\.$
                        - pattern: ^Unknown destination wallet\.$
                        - pattern: ^Unknown beneficiary\.$
  /companies/{company_id}/automations/{automation_id}:
    get:
      summary: Get automation rule
      description: Retrieve a specific automation rule by its unique identifier.
      operationId: getAutomation
      tags:
      - Automations
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/automation_id'
      responses:
        '200':
          description: Automation rule details.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/automation_rule_data'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - message
                    properties:
                      message:
                        type: string
                        oneOf:
                        - pattern: ^Automation is not enabled for this company\.$
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - message
                    properties:
                      message:
                        type: string
                        oneOf:
                        - pattern: ^Unknown automation rule\.$
    put:
      summary: Update automation rule
      description: Update an existing automation rule's configuration.
      operationId: updateAutomation
      tags:
      - Automations
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/automation_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/automation_rule_update_raw_data'
      responses:
        '200':
          description: Automation rule successfully updated.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/automation_rule_data'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - message
                    properties:
                      message:
                        type: string
                        oneOf:
                        - pattern: ^Automation is not enabled for this company\.$
                        - pattern: ^Cannot update a deleted automation rule\.$
                        - pattern: ^Invalid rule_type\. Must be 'conversion' or 'payout'\.$
                        - pattern: ^Invalid trigger_event\. Must be 'payin_completed' or 'conversion_completed'\.$
                        - pattern: ^Conversion rules can only be triggered by 'payin_completed'\.$
                        - pattern: ^Invalid amount_mode\. Must be 'full' or 'inherited'\.$
                        - pattern: ^Source wallet asset is not eligible for automation\. Only EUR, USD, and stablecoins are
                            supported\.$
                        - pattern: ^This wallet already has an active automation rule for this trigger event\. Only one rule
                            per trigger event per wallet is allowed\.$
                        - pattern: ^destination_wallet_id is required for conversion rules\.$
                        - pattern: ^Destination wallet must be different from source wallet\.$
                        - pattern: ^Destination wallet must have a different currency for conversions\.$
                        - pattern: ^destination_beneficiary_id is required for payout rules\.$
                        - pattern: ^Beneficiary currency must match source wallet currency for payouts\.$
                        - pattern: ^This beneficiary targets a Fipto wallet and cannot be used for automation\.$
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - message
                    properties:
                      message:
                        type: string
                        oneOf:
                        - pattern: ^Unknown automation rule\.$
                        - pattern: ^Unknown source wallet\.$
                        - pattern: ^Unknown destination wallet\.$
                        - pattern: ^Unknown beneficiary\.$
    delete:
      summary: Delete automation rule
      description: Delete an automation rule.
      operationId: deleteAutomation
      tags:
      - Automations
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/automation_id'
      responses:
        '204':
          description: Automation rule successfully deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - message
                    properties:
                      message:
                        type: string
                        oneOf:
                        - pattern: ^Automation is not enabled for this company\.$
                        - pattern: ^This automation rule has already been deleted\.$
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - message
                    properties:
                      message:
                        type: string
                        oneOf:
                        - pattern: ^Unknown automation rule\.$
  /companies/{company_id}/wallets:
    post:
      summary: Create wallet
      description: Create a new wallet for your company.
      operationId: createWalletByCompanyId
      tags:
      - Wallets
      parameters:
      - $ref: '#/components/parameters/company_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/wallet_raw_data'
      responses:
        '201':
          description: Wallet successfully created.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/wallet_data'
    get:
      summary: Get wallets
      description: Retrieve the list of all wallets in your company.
      operationId: listWallets
      tags:
      - Wallets
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/page_number'
      - $ref: '#/components/parameters/page_size_optional'
      - name: sort
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/sort_wallets_list'
      - $ref: '#/components/parameters/valuation_asset'
      - $ref: '#/components/parameters/value'
      - $ref: '#/components/parameters/assets'
      responses:
        '200':
          description: Retrieve the list of wallets.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - $ref: '#/components/schemas/pagination'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/wallet_data_valuation'
  /companies/{company_id}/wallets/{wallet_id}:
    get:
      summary: Get a wallet
      description: Retrieve a specific wallet by its unique identifier.
      operationId: getWallet
      tags:
      - Wallets
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/wallet_id'
      - $ref: '#/components/parameters/valuation_asset'
      responses:
        '200':
          description: Retrieve a wallet.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/wallet_data_valuation'
    patch:
      summary: Rename a wallet
      description: Update the name of a specific wallet.
      operationId: updateWalletName
      tags:
      - Wallets
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/wallet_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/wallet_patch_data'
      responses:
        '200':
          description: Retrieve an updated wallet.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/wallet_data'
  /companies/{company_id}/transactions:
    get:
      summary: Get transactions
      description: Retrieve the list of all transactions in your company, with the ability to apply filters based on the wallet,
        transaction type, and pagination.
      operationId: searchTransactionsByCompanyId
      tags:
      - Transactions
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/page_number'
      - $ref: '#/components/parameters/page_size'
      - name: sort
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/sort_transaction_list'
      - $ref: '#/components/parameters/filter_transaction_types'
      - $ref: '#/components/parameters/filter_asset_types'
      - $ref: '#/components/parameters/filter_wallet_id'
      - $ref: '#/components/parameters/filter_public_transaction_status'
      - $ref: '#/components/parameters/filter_can_be_signed_by'
      - $ref: '#/components/parameters/filters_date_from'
      - $ref: '#/components/parameters/filters_date_to'
      responses:
        '200':
          description: Retrieve list of transactions.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - $ref: '#/components/schemas/pagination'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/transaction_data'
  /companies/{company_id}/operations:
    get:
      summary: Get operations
      description: Retrieve the list of operations given their operation IDs.
      operationId: listOperationByOperationIds
      tags:
      - Transactions
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/filter_operation_id'
      - $ref: '#/components/parameters/page_number'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: Retrieve list of operations.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - $ref: '#/components/schemas/pagination'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/operation_data'
  /companies/{company_id}/transactions/{transaction_id}:
    get:
      summary: Get a transaction from a company
      description: Retrieve a specific transaction by its unique identifier.
      operationId: getCompanyTransaction
      tags:
      - Transactions
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/transaction_id'
      responses:
        '200':
          description: Retrieve a transaction.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/transaction_data'
  /companies/{company_id}/wallets/{wallet_id}/wallet-details:
    post:
      summary: Create a wallet details
      description: Create a wallet details for a wallet.
      operationId: createWalletDetailsByWalletId
      tags:
      - Wallets
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/wallet_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/wallet_details_raw_data'
      responses:
        '201':
          description: Wallet details successfully created.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/wallet_details_data'
    get:
      summary: Get wallet details
      description: Retrieve the list of wallet details for a given wallet.
      operationId: getWalletDetailsByWalletId
      tags:
      - Wallets
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/wallet_id'
      - $ref: '#/components/parameters/page_number'
      - $ref: '#/components/parameters/page_size'
      - name: sort
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/sort_wallet_details_list'
      responses:
        '200':
          description: List of all beneficiaries.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - $ref: '#/components/schemas/pagination'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/wallet_details_data'
  /companies/{company_id}/wallets/{wallet_id}/wallet-details/{wallet_details_id}:
    get:
      summary: Get a wallet details
      description: Retrieve a specific wallet details information.
      operationId: getWalletDetails
      tags:
      - Wallets
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/wallet_id'
      - $ref: '#/components/parameters/wallet_details_id'
      responses:
        '200':
          description: Retrieve a beneficiary.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/wallet_details_data'
    patch:
      summary: Rename a wallet details
      description: Update the name of a specific wallet details.
      operationId: updateWalletDetails
      tags:
      - Wallets
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/wallet_id'
      - $ref: '#/components/parameters/wallet_details_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/wallet_details_patch_raw_data'
      responses:
        '200':
          description: Retrieve an updated wallet detail.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/wallet_details_data'
  /companies/{company_id}/wallets/{wallet_id}/wallet-details/{wallet_details_id}/download:
    get:
      summary: Get a wallet details pdf
      description: Retrieve a specific wallet details pdf.
      operationId: getWalletDetailsPDF
      tags:
      - Wallets
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/wallet_id'
      - $ref: '#/components/parameters/wallet_details_id'
      responses:
        '200':
          description: Retrieve a wallet details pdf.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/wallet_details_pdf_data'
  /companies/{company_id}/payment-links/{payment_link_id}:
    get:
      summary: Retrieve a specific payment link
      operationId: getPaymentLink
      tags:
      - Payment links
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/payment_link_id'
      responses:
        '200':
          description: Retrieve a payment link.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/public_payment_link_data'
    patch:
      summary: Update a payment link
      operationId: updatePaymentLink
      description: Update a payment link as a user.
      tags:
      - Payment links
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/payment_link_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  allOf:
                  - $ref: '#/components/schemas/public_payment_link_update_data'
      responses:
        '204':
          description: Payment link updated.
  /companies/{company_id}/payment-links:
    get:
      summary: Retrieve all payment link
      operationId: listPaymentLinks
      tags:
      - Payment links
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/page_number'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: Retrieve all payment links.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - $ref: '#/components/schemas/pagination'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/public_payment_link_data'
    post:
      summary: Create payment link
      operationId: createPaymentLinks
      tags:
      - Payment links
      parameters:
      - $ref: '#/components/parameters/company_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/public_payment_link_data'
      responses:
        '200':
          description: Create payment links.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/public_payment_link_data'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - message
                    properties:
                      message:
                        type: string
                        enum:
                        - wallet_id OR beneficiary_id must be provided.
                        - Please select a beneficiary_id as destination.
                        - Please select a wallet_id as destination.
                        - '''expired_at'' must be at least 1 hour in the future.'
                        - You've reached the maximum amount of payment links you can create in a 24-hour period. For further
                          assistance or to request an adjustment to your limit, kindly contact our support at support@fipto.com.
  /companies/{company_id}/wallets/{wallet_id}/payouts:
    post:
      summary: Initiate payout
      description: Initiate a payout from your wallet to a specified beneficiary. We will process the payment and send it
        to the beneficiary.
      operationId: initiatePayout
      tags:
      - Transactions
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/wallet_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/payout_initiate_raw_data'
            examples:
              Digital:
                value:
                  data:
                    type: payout
                    attributes:
                      amount: '0.4'
                      beneficiary_id: 5225b609-89e2-46a1-8243-83db0304a469
              Fiat:
                value:
                  data:
                    type: payout
                    attributes:
                      amount: '100'
                      reference: my payout
                      beneficiary_id: ffb2d381-9399-4463-b7df-343c539e5367
                      beneficiary_verification_id: dd7fbf81-9f17-4441-9f81-836f50f9e5f4
      responses:
        '202':
          description: Payout Accepted.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/payout_data'
              examples:
                Digital:
                  value:
                    meta:
                      request_id: 3a25e630-16c6-41d8-98ed-5a6b48ac71ac
                    data:
                      type: payout
                      id: dd7fbf81-9f17-4441-9f81-836f50f9e5f4
                      attributes:
                        amount: '0.4'
                        beneficiary:
                          beneficiary_id: fea2bB77-54eF-E9E9-9ABC-6535831512aa
                          beneficiary_description: My beneficiary
                        status: pending
                        transaction_id: 1c74eff6-70b9-481f-a178-9192861ecab0
                        created_at: '2020-01-01T00:00:00.000Z'
                        created_by: 3a25e630-16c6-41d8-98ed-5a6b48ac71ac
                        asset: BTC
                        wallet:
                          wallet_id: LeOJMJwX2Q0Itbtbmu7Zf5
                          wallet_name: My BTC wallet
                        valuations:
                        - asset: EUR
                          value: '10000'
                        signatories:
                        - user_id: b355b732-ec56-43ac-9b86-93381a84dad1
                Fiat:
                  value:
                    meta:
                      request_id: 3a25e630-16c6-41d8-98ed-5a6b48ac71ac
                    data:
                      type: payout
                      id: dd7fbf81-9f17-4441-9f81-836f50f9e5f4
                      attributes:
                        amount: '100'
                        beneficiary:
                          beneficiary_id: fea2bB77-54eF-E9E9-9ABC-6535831512ab
                          beneficiary_description: My beneficiary
                        status: pending
                        transaction_id: 29d043bd-76b2-4c25-82c9-c9c7c0333124
                        created_at: '2020-01-01T00:00:00.000Z'
                        created_by: 3a25e630-16c6-41d8-98ed-5a6b48ac71ac
                        asset: EUR
                        reference: reference
                        wallet:
                          wallet_id: 04309b61-7e91-4b6a-bf48-93e7d5d7c792
                          wallet_name: My fiat wallet
                        signature:
                          quorum: 1
                        signatories:
                        - user_id: b355b732-ec56-43ac-9b86-93381a84dad1
  /companies/{company_id}/wallets/{wallet_id}/internal-transfers:
    post:
      summary: Create an internal transfer
      description: Initiate an internal transfer between two wallets of the same company.
      operationId: createInternalTransfer
      tags:
      - Internal Transfers
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/wallet_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/internal_transfer_initiate_raw_data'
            examples:
              Fiat:
                value:
                  data:
                    type: internal_transfer
                    attributes:
                      amount: '100'
                      destination_wallet_id: ffb2d381-9399-4463-b7df-343c539e5367
                      reference: my transfer
      responses:
        '202':
          description: Internal transfer accepted.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/internal_transfer_data'
  /companies/{company_id}/pairs:
    get:
      summary: Get conversion pairs configuration
      operationId: getPairs
      tags:
      - Conversions
      parameters:
      - $ref: '#/components/parameters/company_id'
      responses:
        '200':
          description: Pairs list
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        required:
                        - sell_asset_code
                        - buy_asset_code
                        - eotc_available
                        properties:
                          sell_asset_code:
                            description: The asset code being sold in this conversion pair.
                            allOf:
                            - $ref: '#/components/schemas/asset'
                          buy_asset_code:
                            description: The asset code being bought in this conversion pair.
                            allOf:
                            - $ref: '#/components/schemas/asset'
                          eotc_available:
                            description: Whether electronic over-the-counter (EOTC) trading is available for this pair.
                            type: boolean
                          min_trading_volume_eur:
                            description: The minimum trading volume in EUR required for EOTC conversions on this pair.
                            allOf:
                            - $ref: '#/components/schemas/positive_amount'
  /aisp-pisp:
    get:
      summary: List all AISP/PISPs
      tags:
      - AISP/PISP
      operationId: listAISPPISP
      responses:
        '200':
          description: List of all AISP/PISPs
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/aisp_pisp_data'
  /companies/{company_id}/aisp-pisp:
    post:
      summary: Create a new API user for an AISP/PISP.
      tags:
      - AISP/PISP
      operationId: createCompanyAISPPISP
      parameters:
      - $ref: '#/components/parameters/company_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  allOf:
                  - $ref: '#/components/schemas/create_company_aisp_pisp_data'
      responses:
        '201':
          description: AISP/PISP user successfully created.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/aisp_pisp_company_data'
    get:
      summary: List all AISP/PISP access of a company
      tags:
      - AISP/PISP
      operationId: listCompanyAISPPISP
      parameters:
      - $ref: '#/components/parameters/company_id'
      responses:
        '200':
          description: List of all AISP/PISP access of a company
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/aisp_pisp_company_data'
  /companies/{company_id}/aisp-pisp/{aisp_pisp_id}:
    get:
      summary: Get specific AISP/PISP access of a company
      tags:
      - AISP/PISP
      operationId: getCompanyAISPPISP
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/aisp_pisp_id'
      responses:
        '200':
          description: Get specific AISP/PISP access of a company
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/aisp_pisp_company_data'
    delete:
      summary: Delete the access for a company to an AISP/PISP.
      tags:
      - AISP/PISP
      operationId: deleteCompanyAISPPISP
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/aisp_pisp_id'
      responses:
        '204':
          description: Access to the AISP/PISP successfully deleted.
  /companies/{company_id}/aisp-pisp/wallets/{wallet_id}/payouts:
    post:
      summary: Initiate payout as an AISP/PISP
      description: Initiate a payment from your wallet to a specified beneficiary. We will process the payment and send it
        to the beneficiary.
      operationId: initiatePayoutAISPPISP
      tags:
      - AISP/PISP
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/wallet_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/aisp_pisp_payout_initiate_raw_data'
      responses:
        '202':
          description: Payout Accepted.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/aisp_pisp_payout_data'
  /companies/{company_id}/aisp-pisp/wallets:
    get:
      summary: List wallets.
      description: Retrieve all wallets linked to a company from a AISP/PISP.
      operationId: listWalletAISPPISP
      tags:
      - AISP/PISP
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/page_number'
      - $ref: '#/components/parameters/page_size_optional'
      - name: sort
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/sort_wallets_list'
      - $ref: '#/components/parameters/assets'
      responses:
        '200':
          description: Retrieve a wallet.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - $ref: '#/components/schemas/pagination'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/wallet_data'
  /companies/{company_id}/aisp-pisp/wallets/{wallet_id}:
    get:
      summary: Get a wallet from an AISP/PISP.
      description: Retrieve a specific wallet by its unique identifier from AISP/PISP.
      operationId: getWalletAISPPISP
      tags:
      - AISP/PISP
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/wallet_id'
      responses:
        '200':
          description: Retrieve a wallet.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/wallet_data'
  /companies/{company_id}/aisp-pisp/transactions:
    get:
      summary: Get transactions for an AISP PISP
      description: Retrieve the list of all transactions in your company for an AISP PISP, with the ability to apply filters
        based on the wallet, transaction type, and pagination.
      operationId: searchTransactionsAISPPISPByCompanyId
      tags:
      - AISP/PISP
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/page_number'
      - $ref: '#/components/parameters/page_size'
      - name: sort
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/sort_transaction_list'
      - $ref: '#/components/parameters/filter_transaction_types'
      - $ref: '#/components/parameters/filter_wallet_id'
      responses:
        '200':
          description: Retrieve list of transactions.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - $ref: '#/components/schemas/pagination'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/transaction_data'
  /companies/{company_id}/aisp-pisp/transactions/{transaction_id}:
    get:
      summary: Get a transaction for an AISP PISP
      description: Retrieve a specific transaction by its unique identifier for an AISP PISP.
      operationId: getTransactionAISPPISP
      tags:
      - AISP/PISP
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/transaction_id'
      responses:
        '200':
          description: Retrieve a transaction for an AISP/PISP.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/transaction_data'
  /companies/{company_id}/aisp-pisp/beneficiaries:
    get:
      summary: List beneficiaries for an AISP/PISP
      operationId: listBeneficiariesAISPPISP
      description: Retrieve all beneficiaries for an AISP/PISP.
      tags:
      - AISP/PISP
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/page_number'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: List of all beneficiaries.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - $ref: '#/components/schemas/pagination'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/beneficiary_data'
  /companies/{company_id}/aisp-pisp/beneficiaries/{beneficiary_id}:
    get:
      summary: Get a beneficiary for an AISP/PISP
      operationId: getBeneficiaryAISPPISP
      description: Retrieve a specific beneficiary by its unique identifier for an AISP/PISP.
      tags:
      - AISP/PISP
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/beneficiary_id'
      responses:
        '200':
          description: Retrieve a beneficiary.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/beneficiary_data'
  /companies/{company_id}/wallets/{wallet_id}/payin-simulation:
    post:
      summary: Simulate a payin
      description: Generate a payin on the demo environment. Note that it may take up to 1 minute for the payin to appear
        in the transactions list. By default, the payin will target the first wallet details created within the wallet.
      operationId: simulatePayin
      tags:
      - Payin Simulation
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/wallet_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/payin_simulation_data'
      responses:
        '204':
          description: Payin simulation successful.
  /companies/{company_id}/conversions/{conversion_id}:
    get:
      summary: Retrieve a list of filterable conversions
      operationId: getConversion
      tags:
      - Conversions
      parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/conversion_id'
      responses:
        '200':
          description: A conversion.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/meta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/public_conversion_data'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - message
                    properties:
                      message:
                        type: string
                        enum:
                        - Conversion not found.
components:
  parameters:
    automation_id:
      name: automation_id
      in: path
      required: true
      description: The Automation Rule ID.
      example: 9de0691c-bc8d-409b-8f40-75d4f45db2f3
      schema:
        $ref: '#/components/schemas/uuid'
    blockchain_address:
      name: blockchain_address
      in: path
      required: true
      description: The blockchain wallet address.
      schema:
        type: string
    aisp_pisp_id:
      name: aisp_pisp_id
      in: path
      required: true
      description: The AISP/PISP id given by Fipto.
      example: 9de0691c-bc8d-409b-8f40-75d4f45db2f3
      schema:
        $ref: '#/components/schemas/uuid'
    company_id:
      name: company_id
      in: path
      required: true
      description: The Company ID given by Fipto.
      example: 9de0691c-bc8d-409b-8f40-75d4f45db2f3
      schema:
        $ref: '#/components/schemas/uuid'
    group_id:
      name: group_id
      in: path
      required: true
      description: The authorization group ID.
      example: 9de0691c-bc8d-409b-8f40-75d4f45db2f3
      schema:
        $ref: '#/components/schemas/uuid'
    batch_verification_id:
      name: batch_verification_id
      in: path
      required: true
      description: The Batch verification ID given by Fipto.
      example: 9de0691c-bc8d-409b-8f40-75d4f45db2f3
      schema:
        $ref: '#/components/schemas/uuid'
    customer_id:
      name: customer_id
      in: path
      required: true
      description: The Customer ID given by Fipto.
      example: 9de0691c-bc8d-409b-8f40-75d4f45db2f3
      schema:
        $ref: '#/components/schemas/uuid'
    webhook_id:
      name: webhook_id
      in: path
      required: true
      description: The webhook ID given by Fipto.
      example: 9de0691c-bc8d-409b-8f40-75d4f45db2f3
      schema:
        $ref: '#/components/schemas/uuid'
    partner_name:
      name: partner_name
      in: path
      required: true
      description: The name of the partner
      example: clearbank
      schema:
        type: string
    product_setting_name:
      name: product_setting_name
      in: path
      required: true
      description: The name of the product setting
      example: payout_automation
      schema:
        type: string
    admin_employee_id:
      name: employee_id
      in: path
      required: true
      description: The employee ID given by Fipto.
      example: 9de0691c-bc8d-409b-8f40-75d4f45db2f3
      schema:
        $ref: '#/components/schemas/uuid'
    beneficiary_id:
      name: beneficiary_id
      in: path
      required: true
      description: The Beneficiary ID given by Fipto.
      example: 0967e211-93c9-481f-978a-182eef29c80a
      schema:
        $ref: '#/components/schemas/uuid'
    counterparty_id:
      name: counterparty_id
      in: path
      required: true
      description: The Counterparty ID given by Fipto.
      example: 0967e211-93c9-481f-978a-182eef29c80a
      schema:
        $ref: '#/components/schemas/uuid'
    partner:
      name: partner
      in: path
      required: true
      description: The partner name
      example: clearbank
      schema:
        $ref: '#/components/schemas/partner_name'
    payout_id:
      name: payout_id
      in: path
      required: true
      description: The Payout ID given by Fipto.
      example: 8613cbe6-de90-4408-bf75-21fc5c1f4965
      schema:
        $ref: '#/components/schemas/uuid'
    payin_id:
      name: payin_id
      in: path
      required: true
      description: The Payin ID given by Fipto.
      example: 6fe69e46-4613-480f-9f9b-742dc5084aee
      schema:
        $ref: '#/components/schemas/uuid'
    wallet_id:
      name: wallet_id
      in: path
      required: true
      description: The Wallet ID given by Fipto.
      example: 03a596dd-8b4e-4bb5-a8b9-3a7ddb8ad960
      schema:
        $ref: '#/components/schemas/uuid'
    wallet_details_id:
      name: wallet_details_id
      in: path
      required: true
      description: The Wallet details ID given by Fipto.
      example: a815f187-5ff7-406d-840a-906b703a1912
      schema:
        $ref: '#/components/schemas/uuid'
    transaction_id:
      name: transaction_id
      in: path
      required: true
      description: The Transaction ID given by Fipto.
      example: 8f6a1c57-3025-4a27-95da-218bf79f9eb5
      schema:
        $ref: '#/components/schemas/uuid'
    export_id:
      name: export_id
      in: path
      required: true
      description: The account-statement export ID given by Fipto.
      example: 6f3d0c2a-1b4e-4d9a-8c7f-2e5a9b3c1d4e
      schema:
        $ref: '#/components/schemas/uuid'
    task_id:
      name: task_id
      in: path
      required: true
      description: The Task ID given by Fipto.
      example: 8f6a1c57-3025-4a27-95da-218bf79f9eb5
      schema:
        $ref: '#/components/schemas/uuid'
    role_id:
      name: role_id
      in: path
      required: true
      description: The Role identifier given by Fipto.
      example: admin
      schema:
        type: string
    user_id:
      name: user_id
      in: path
      required: true
      description: The user identifier given by Fipto.
      example: 9b7029b5-fd51-4383-9881-3c9f549b30be
      schema:
        type: string
    quote_id:
      name: quote_id
      in: path
      required: true
      description: The quote identifier given by Fipto.
      example: 9b7029b5-fd51-4383-9881-3c9f549b30be
      schema:
        type: string
    request_for_quote_id:
      name: request_for_quote_id
      in: path
      required: true
      description: The request for quote identifier given by Fipto.
      example: 9b7029b5-fd51-4383-9881-3c9f549b30be
      schema:
        $ref: '#/components/schemas/uuid'
    request_for_open_trade_id:
      name: request_for_open_trade_id
      in: path
      required: true
      description: A request for open trade identifier.
      example: cbd87a88-23cb-4f47-9996-1957a24f76e1
      schema:
        $ref: '#/components/schemas/uuid'
    value:
      in: query
      name: value
      description: Value of the wallet.
      schema:
        type: string
    assets:
      name: assets
      in: query
      description: Filters the wallets returned based on the specified assets. All assets will be returned by default.
      example:
      - BTC
      - ETH
      schema:
        type: array
        uniqueItems: true
        items:
          $ref: '#/components/schemas/asset'
    base_assets:
      name: base_assets
      in: query
      required: true
      description: List of base assets.
      example:
      - BTC
      - ETH
      schema:
        type: array
        uniqueItems: true
        items:
          $ref: '#/components/schemas/asset'
    valuation_asset:
      in: query
      name: valuation_asset
      description: Specifies the asset used to value the resources retrieved by the endpoint.
      schema:
        enum:
        - EUR
        - USD
        default: EUR
        allOf:
        - $ref: '#/components/schemas/asset'
    page_number:
      name: page_number
      in: query
      required: false
      description: The page number retrieved in the paginated results. The default value is 1.
      schema:
        type: number
        example: 1
    page_size:
      name: page_size
      in: query
      required: false
      description: The number of items to include in each page of the paginated results. The default value is 100.
      schema:
        type: number
        example: 100
    page_size_optional:
      name: page_size
      in: query
      required: false
      description: The number of items to include in each page of the paginated results. The default value is 100. The pagination
        is removed when the value is 0 (unlimited number of elements are returned).
      schema:
        type: number
        example: 100
    sort:
      name: sort
      in: query
      required: false
      schema:
        type: string
        example: created_at
        enum:
        - created_at
        - transaction_created_at
    filter_payment_link_statuses:
      name: statuses
      in: query
      required: false
      schema:
        type: array
        uniqueItems: true
        items:
          $ref: '#/components/schemas/payment_link_status'
    filter_payment_link_refunded:
      name: refunded
      in: query
      required: false
      schema:
        type: boolean
    filter_payment_link_processed:
      name: processed
      in: query
      required: false
      schema:
        type: boolean
    filter_payment_link_expired:
      name: expired
      in: query
      required: false
      schema:
        type: boolean
    filter_quote_asset_code:
      name: quote_asset_code
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/asset'
    filter_beneficiary_types:
      name: type
      in: query
      required: false
      description: Filter beneficiaries by types.
      schema:
        type: array
        uniqueItems: true
        items:
          $ref: '#/components/schemas/beneficiary_type'
    filter_beneficiary_assets:
      name: asset
      in: query
      required: false
      description: Filter beneficiaries by destination asset code(s). All assets returned by default.
      example:
      - EUR
      - USDC
      schema:
        type: array
        uniqueItems: true
        items:
          $ref: '#/components/schemas/asset'
    filter_wallet_id:
      name: wallet_id
      in: query
      required: false
      description: Filter for a specific wallet_id.
      schema:
        $ref: '#/components/schemas/uuid'
    filter_company_id:
      name: company_id
      in: query
      required: false
      description: Filter for a specific company_id.
      schema:
        $ref: '#/components/schemas/uuid'
    filter_user_type:
      name: user_type
      in: query
      required: false
      description: Filter for specifics user_type.
      schema:
        $ref: '#/components/schemas/user_type'
    filter_user_role:
      name: user_role
      in: query
      required: false
      description: Filter for specifics user role.
      schema:
        $ref: '#/components/schemas/user_role'
    filter_public_user_statuses:
      name: statuses
      in: query
      required: false
      description: Filter by user statuses.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/user_status_public'
    wallet_name:
      name: name
      in: query
      required: false
      description: Filter for a specific wallet.
      schema:
        type: string
    admin_filter_company_name:
      name: company_name
      in: query
      required: false
      description: Filter for a specific company.
      schema:
        type: string
        default: ''
    admin_filter_partner:
      name: partner
      in: query
      required: false
      description: Filter for a specific partner.
      schema:
        type: string
        default: ''
    filter_linkable_to_company_id:
      name: linkable_to_company_id
      in: query
      required: false
      description: Filter for companies ID where users returned can be linked.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/uuid'
    filter_search:
      name: search
      in: query
      required: false
      description: Filter for field name, lastname, firstname, email and company's name linked to the users.
      schema:
        type: string
    admin_filter_transaction_id:
      name: transaction_id
      in: query
      required: false
      description: Filter for a specific transaction_id.
      schema:
        $ref: '#/components/schemas/uuid'
    filter_transaction_types:
      name: transaction_types
      in: query
      required: false
      description: Filter for specific transaction types.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/transaction_type'
    filter_asset_types:
      name: asset_types
      in: query
      required: false
      description: Filter for specific asset types.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/asset_type'
    filter_treasury_sub_types:
      name: sub_type
      in: query
      required: false
      description: Filter for specific treasury intent sub type(s).
      schema:
        type: array
        items:
          type: string
          enum:
          - funds_repatriation
          - segregation
          - unsegregation
          - funds_management
          - conversion_liquidity_provider_deposit
          - conversion_liquidity_provider_withdrawal
    filter_company_types:
      name: types
      in: query
      required: false
      description: Filter for specific company types.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/company_type'
    filter_account_types:
      name: account_types
      in: query
      required: false
      description: Filter for specific account types.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/account_type'
    asset_code:
      name: asset_code
      in: path
      required: true
      description: Retrieve for specific asset codes.
      schema:
        $ref: '#/components/schemas/asset'
    quote_asset:
      name: quote_asset
      in: path
      required: true
      description: A quote asset for valuation purposes
      example: EUR
      schema:
        $ref: '#/components/schemas/asset'
    valuation_date:
      name: valuation_date
      in: query
      required: false
      schema:
        type: string
        format: date-time
      description: Valuation date. The timezone used is UTC.
    admin_filter_transaction_status:
      name: transaction_status
      in: query
      required: false
      description: Filter for a specific transaction status.
      schema:
        anyOf:
        - $ref: '#/components/schemas/payin_status'
        - $ref: '#/components/schemas/payout_status'
    admin_filter_beneficiary_status:
      name: statuses
      in: query
      required: false
      description: Filter for specific beneficiary status.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/beneficiary_status_admin'
    filter_public_transaction_status:
      name: statuses
      in: query
      required: false
      description: Filter for specifics transaction status.
      schema:
        type: array
        items:
          anyOf:
          - $ref: '#/components/schemas/payin_status_public'
          - $ref: '#/components/schemas/payout_status_public'
    filter_can_be_signed_by:
      name: can_be_signed_by
      in: query
      required: false
      description: Filter on a specific user that can sign the payouts..
      schema:
        $ref: '#/components/schemas/uuid'
    filters_date_from:
      name: date_from
      in: query
      required: false
      description: Filter to get data after or at the specific date.
      schema:
        $ref: '#/components/schemas/date'
    filters_date_to:
      name: date_to
      in: query
      required: false
      description: Filter to get data before or at the specific date.
      schema:
        $ref: '#/components/schemas/date'
    admin_filter_rfot_status:
      name: status
      in: query
      required: false
      description: Filter for a specific rfot status.
      schema:
        allOf:
        - $ref: '#/components/schemas/rfot_status'
    filter_rfot_type:
      name: type
      in: query
      required: false
      description: Filter for a specific rfot type.
      schema:
        allOf:
        - $ref: '#/components/schemas/rfot_type'
    filter_operation_id:
      name: operation_id
      in: query
      required: true
      description: Filter for a specific operation id.
      schema:
        $ref: '#/components/schemas/uuid'
    payment_link_id:
      name: payment_link_id
      in: path
      required: true
      description: A payment link identifier.
      example: cbd87a88-23cb-4f47-9996-1957a24f76e1
      schema:
        $ref: '#/components/schemas/uuid'
    conversion_id:
      name: conversion_id
      in: path
      required: true
      description: A conversion ID identifier.
      example: eb8bea14-8505-46d4-857e-e3749d5ca943
      schema:
        $ref: '#/components/schemas/uuid'
    iban:
      name: iban
      in: path
      required: true
      schema:
        type: string
      description: Iban
    year:
      name: year
      in: path
      required: true
      schema:
        type: integer
      description: Year
    month:
      name: month
      in: path
      required: true
      schema:
        type: integer
      description: Month. Value must be between 1-12
    filter_fi_customer_statuses:
      name: statuses
      in: query
      required: false
      description: Filter by FI customer statuses.
      schema:
        type: array
        uniqueItems: true
        items:
          $ref: '#/components/schemas/fi_customer_status'
    onboarding_id:
      name: onboarding_id
      in: path
      required: true
      description: The KYC reliance onboarding ID given by Fipto.
      example: 9de0691c-bc8d-409b-8f40-75d4f45db2f3
      schema:
        $ref: '#/components/schemas/uuid'
    filter_client_onboarding_statuses:
      name: statuses
      in: query
      required: false
      description: Filter by KYC reliance onboarding statuses.
      schema:
        type: array
        uniqueItems: true
        items:
          $ref: '#/components/schemas/client_onboarding_status'
  schemas:
    meta:
      description: Metadata of the request
      type: object
      required:
      - meta
      properties:
        meta:
          type: object
          required:
          - request_id
          properties:
            request_id:
              oneOf:
              - $ref: '#/components/schemas/uuid'
              - $ref: '#/components/schemas/request_id'
            query_parameters:
              $ref: '#/components/schemas/query_parameters'
    query_parameters:
      description: Information about the parameters in the request. All query string parameters provided (or implicit/with
        default value) will be returned
      type: object
    pagination:
      description: Information about the pagination of the request
      type: object
      required:
      - meta
      properties:
        meta:
          type: object
          required:
          - total_results
          - query_parameters
          properties:
            total_results:
              description: The total number of results
              type: number
              example: 100
            query_parameters:
              allOf:
              - $ref: '#/components/schemas/query_parameters'
              required:
              - page_number
              - page_size
              - sort
              properties:
                page_number:
                  type: number
                  example: 1
                page_size:
                  type: number
                  example: 100
                sort:
                  type: string
                  example: created_at
    automation_rule_data:
      description: Automation rule information
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          $ref: '#/components/schemas/uuid'
        type:
          type: string
          enum:
          - automation_rule
        attributes:
          type: object
          required:
          - rule_type
          - trigger_event
          - amount_mode
          - status
          - source
          - destination
          - created_by
          - created_at
          - updated_at
          properties:
            rule_type:
              type: string
              enum:
              - conversion
              - payout
              description: Type of automation (conversion or payout)
            trigger_event:
              type: string
              enum:
              - payin_completed
              - conversion_completed
              description: Event that triggers the automation
            amount_mode:
              type: string
              enum:
              - full
              - inherited
              description: How much to convert/payout
            status:
              type: string
              enum:
              - active
              - deleted
              description: Current status of the automation rule
            source:
              type: object
              required:
              - wallet_id
              - wallet_name
              - asset
              properties:
                wallet_id:
                  $ref: '#/components/schemas/uuid'
                wallet_name:
                  type: string
                asset:
                  type: string
            destination:
              type: object
              properties:
                wallet_id:
                  $ref: '#/components/schemas/uuid'
                wallet_name:
                  type: string
                asset:
                  type: string
                beneficiary_id:
                  $ref: '#/components/schemas/uuid'
                beneficiary_description:
                  type: string
            created_by:
              $ref: '#/components/schemas/uuid'
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
    automation_rule_create_raw_data:
      description: Data for creating an automation rule
      type: object
      required:
      - type
      - attributes
      properties:
        type:
          type: string
          enum:
          - automation_rule
        attributes:
          type: object
          required:
          - source_wallet_id
          - rule_type
          - trigger_event
          - amount_mode
          properties:
            source_wallet_id:
              description: ID of the wallet that triggers the automation
              allOf:
              - $ref: '#/components/schemas/uuid'
            rule_type:
              type: string
              enum:
              - conversion
              - payout
              description: Type of automation (conversion or payout)
            trigger_event:
              type: string
              enum:
              - payin_completed
              - conversion_completed
              description: Event that triggers the automation
            amount_mode:
              type: string
              enum:
              - full
              - inherited
              description: How much to convert/payout
            destination_wallet_id:
              description: ID of the destination wallet (required for conversion rules)
              allOf:
              - $ref: '#/components/schemas/uuid'
            destination_beneficiary_id:
              description: ID of the destination beneficiary (required for payout rules)
              allOf:
              - $ref: '#/components/schemas/uuid'
    automation_rule_update_raw_data:
      description: Data for updating an automation rule
      type: object
      required:
      - type
      - attributes
      properties:
        type:
          type: string
          enum:
          - automation_rule
        attributes:
          type: object
          required:
          - source_wallet_id
          - rule_type
          - trigger_event
          - amount_mode
          properties:
            source_wallet_id:
              description: ID of the wallet that triggers the automation
              allOf:
              - $ref: '#/components/schemas/uuid'
            rule_type:
              type: string
              enum:
              - conversion
              - payout
              description: Type of automation (conversion or payout)
            trigger_event:
              type: string
              enum:
              - payin_completed
              - conversion_completed
              description: Event that triggers the automation
            amount_mode:
              type: string
              enum:
              - full
              - inherited
              description: How much to convert/payout
            destination_wallet_id:
              description: ID of the destination wallet (required for conversion rules)
              allOf:
              - $ref: '#/components/schemas/uuid'
            destination_beneficiary_id:
              description: ID of the destination beneficiary (required for payout rules)
              allOf:
              - $ref: '#/components/schemas/uuid'
    admin_company_raw_data:
      description: Companies information without id for backoffice
      allOf:
      - $ref: '#/components/schemas/data_default'
      - $ref: '#/components/schemas/company_raw_data'
      - type: object
        properties:
          attributes:
            properties:
              has_fiat_access:
                description: Specify is the company can use fiat feature.
                type: boolean
              has_beneficiary_whitelisting:
                description: Specify if the company has enabled beneficiary whitelisting.
                type: boolean
              has_automation:
                description: Whether the company has automation workflow enabled.
                type: boolean
              has_authorization_policy:
                description: Whether the company has authorization policy enabled.
                type: boolean
              has_kyc_reliance:
                $ref: '#/components/schemas/has_kyc_reliance'
              has_internal_transfers:
                $ref: '#/components/schemas/has_internal_transfers'
              yearly_expected_transaction_volume:
                allOf:
                - $ref: '#/components/schemas/amount'
                - description: Total amount of expected transactions done by year.
              yearly_expected_transaction_count:
                description: Number of expected transactions done by year.
                allOf:
                - $ref: '#/components/schemas/positive_integer'
              conversion_fee_percent:
                description: The conversion commission percentage
                allOf:
                - $ref: '#/components/schemas/positive_number_in_range_0_100'
              type:
                description: Type of the company.
                allOf:
                - $ref: '#/components/schemas/company_type'
    company_raw_data:
      description: Companies information without id
      allOf:
      - $ref: '#/components/schemas/data_default'
      - type: object
[...]
